<br>
<div>Editar contraseña:</div>
<br>

<div class="contain_form">
  <form method="post" 
  action="/profile/<%=current_user.id%>/password" 
  id="soyform">

    Ingresa tu contraseña actual:
    <input type="password" name="actual">

    <br><br>

    Ingresa la nueva contraseña:
    <input type="password" name="pass1">

    <br><br>

    Confirma la contraseña:
    <input type="password" name="pass2">

    <br><br>
    <div class="boton" id="enviar">Editar Contraseña</div>
  </form>

<br>
  <% if @error%>
    <div class="error">Las contraseñas no coinciden</div>
  <% end %>

  <% if @sinpass%>
    <div class="error">
      La contraseña ingresada es incorrecta
    </div>
  <% end %>

</div>

<a href="/profile/<%=current_user.id%>">Regresar</a>